
<body >
<div class="container-fluid " [ngStyle]="setMyStyle()">
   
    <div class="row">
        <div class="col bg-light text-white">
            <a class="navbar-brand">Online Store</a>
            <cart-summary class="float-right" (click)="showCart()" ></cart-summary>
        </div>
    </div>

<app-cart-details *ngIf="is_cart | async"></app-cart-details>

    <div class="row text-white">
        <div class="col-3 bg-light p-2">
            <button class="btn btn-block bg-light btn-outline-dark" (click)="changeCategory()">
                HOME
            </button>
            <button *ngFor="let cat of categories" class="btn  bg-light  btn-outline-dark btn-block"
                [class.active]="cat==selectedCategory" (click)="changeCategory(cat)">
                {{cat}}
            </button>
            <!--Admin Button -->
            <button class="btn btn-block btn-danger m-t-3" routerLink="/admin">Admin</button>
        </div>
        <div class="col-9 bg-light p-2 items_view">
            <div *ngFor="let product of products" class="card m-1 p-1 bg-dark ">
                <div class=" card-text bg-info p-1 price_cart">{{product.description}}
                    <h4>{{product.name}} </h4>
                   
                    <button class="btn btn-warning btn-sm float-right mr-1 btn_price"
                    (click)="addProductToCart(product)"> 
                    <span class="badge badge-pill badge-danger float-right">
                        Add To Cart
                    </span>{{product.price|currency:"ILS":"symbol":"2.2-2"}}</button>
                </div>
            </div>
            <div class="form-inline float-left mr-1 ">
                <select class="form-control" [value]="productPerPage" (change)="changePageSize($any($event.target).value)">
                        <option value="4" selected>4 Products Per Page</option>
                        <option value="6">6 Products Per Page</option>
                        <option value="8">8 Products Per Page</option>
                </select>
            </div>
            <div class = "btn-group float-right">
                <button *ngFor="let page of PageNumbers" (click)="changePage(page)"
                    class="btn btn-outline-dark"
                    [class.active]="page==selectedPage">
                {{page}}
                </button>
            </div>
        </div>
    </div>
  
  
  

  


    
</div>


</body>
